// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn {
    padding: 0;
    a, &.btnP {
        display: inline-block;
        padding: 6px 12px !important;
    }

    &.btnP {
        &:hover {
            text-decoration: underline;
        }
    }
}